/*#64b5f6*/
h1, h2, h3, h4, h5, h6, p, a, li {
  color: #2196f3 !important; }

.custom-bg {
  background-color: #2196f3 !important; }

#impressum h1, #impressum h2, #impressum h3, #impressum h4, #impressum h5, #impressum h6, #impressum p, #impressum a, #impressum li, #agb h1, #agb h2, #agb h3, #agb h4, #agb h5, #agb h6, #agb p, #agb a, #agb li, #datenschutz h1, #datenschutz h2, #datenschutz h3, #datenschutz h4, #datenschutz h5, #datenschutz h6, #datenschutz p, #datenschutz a, #datenschutz li {
  color: white !important; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.6rem; }

h3 {
  font-size: 2.2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1rem; }

p, a {
  font-size: 1rem; }

* {
  box-sizing: border-box; }

section {
  padding: 32px; }

body {
  width: 100vw; }

main {
  height: 90vh;
  /*background image from img/bg.webp with a central gradient and black semi-transparent overlay*/
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg.webp") no-repeat center center fixed;
  background-size: cover; }

.bordered {
  border: 2px solid red; }

span {
  display: inline-block; }

button {
  cursor: pointer; }

.p1 {
  padding: 4px; }

.divider {
  margin-top: 16px;
  margin-bottom: 16px; }

p, ul {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 8px; }

figcaption {
  text-align: center; }

li {
  line-height: 1.5; }

.tick-list {
  list-style: none; }

.tick-list li:before {
  content: "\2713";
  /* Unicode character for a tick mark */
  margin-right: 5px; }

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.vcentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.text-centered {
  text-align: center; }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three columns */
  grid-gap: 10px;
  /* Gap between tiles */ }

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center; }

.gallery-item img {
  max-width: 100%;
  height: auto; }

.brand-logo {
  height: 100%;
  width: 240px !important; }

#nav-mobile {
  height: 100%; }

/*Add smooth scrolling*/
html {
  scroll-behavior: smooth; }

#upwards {
  position: fixed;
  bottom: 20px;
  right: 30px; }

/* label color */
.input-field label {
  color: #2196f3; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #2196f3; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #2196f3; }

.btn {
  width: 240px; }

footer {
  min-height: 250px; }

#legal {
  text-align: center; }

.hero-ctas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.brand-logo {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
